---
# role: ansible-role-virtinstall
# file: tasks/main.yml

- name: "List all VMs"
  community.libvirt.virt:
    command: list_vms
    uri: "{{ virtinstall_connection }}"
  register: all_vms

- name: "Generate virt-install scripts"
  ansible.builtin.template:
    src: virt-install.bash.j2
    dest: "{{ virtinstall_script_path }}/virt-install-{{ item.name }}.bash"
    mode: '0750'
  loop: "{{ virtinstall_domains }}"

- name: "Install VM"
  become: true
  ansible.builtin.command: "{{ virtinstall_script_path }}/virt-install-{{ item.name }}.bash"
  register: _install
  changed_when: _install is success
  loop: "{{ virtinstall_domains }}"
  when: item.name not in all_vms.list_vms
    or item.reinstall | bool
